{% extends "inchlib_base.html" %}

{% block content %}
<script>
	var dendrogram;

	$(document).ready(function(){
   		$("#menu_docs").addClass('pure-menu-selected'); 
		var attr, element, text, color_tr, current;
		var colors_table = $("#colors_table")
		var color_max = 20;
		var color_min = 0;
		var color_middle = color_max/2;

		dendrogram = new InCHlib("", {});
		
		for(var color in dendrogram.colors){
			color_tr = $("<tr><td>" + color + "</td></tr>");
			for(var i = 0; i<color_max; i++){
				current = dendrogram._get_color_for_value(i, color_min, color_max-1, color_middle, color);
				color_tr.append("<td style='background-color:" + current + "'></td>");
			}
			colors_table.append(color_tr);
		}

		// var colors_string = JSON.stringify(dendrogram.colors);
		// colors_string = colors_string.replace(/}},/g, "}},\n");
		

		// $("#colors").parent().find(".default_value").text(colors_string);

		for(attr in dendrogram.settings){
			var element = $("#docs").find("#" + attr).parent().find(".default_value");

			if(attr == "highlighted_rows"){
				text = attr + ": []" ;
			}
			else{
				text = attr + ": " + dendrogram.settings[attr];
			}
			element.text(text);
		}

		for(attr in dendrogram.events){
			var element = $("#docs").find("#" + attr).parent().find(".default_value");
			text = attr + ": " + dendrogram.events[attr];
			element.text(text);
		}
	});

</script>

<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
    	<li class="pure-menu-selected"><a href="{% url docs %}">InCHlib</a></li>
        <li><a href="{% url input_format %}">Input format</a></li>
        <li><a href="{% url inchlib_clust %}">inchlib_clust</a></li>
    </ul>
</div>
<hr/>

<div id="docs_menu" class="pure-menu pure-menu-open">
    
    <ul>
    	<li class="pure-menu-heading"><b>Methods</b></li>
        <li><a href="#read_data">read_data</a></li>
        <li><a href="#read_data_from_file">read_data_from_file</a></li>
        <li><a href="#draw">draw</a></li>
        <li><a href="#update_settings">update_settings</a></li>
        <li><a href="#redraw">redraw</a></li>
        <li><a href="#highlight_rows">highlight_rows</a></li>
        <li><a href="#unhighlight_rows">unhighlight_rows</a></li>
        <li><a href="#highlight_cluster">highlight_cluster</a></li>
        <li><a href="#highlight_cluster">unhighlight_cluster</a></li>
        <li class="pure-menu-heading"><b>Events</b></li>
        {% for e in events %}
        	<li><a href="#{{ e.name }}">{{ e.name }}</a></li>
        {% endfor %}
    	<li class="pure-menu-heading"><b>Attributes</b></li>
        {% for a in attributes %}
        	<li><a href="#{{ a.name }}">{{ a.name }}</a></li>
        {% endfor %}
        <a class="pure-menu-heading"><b>Colors</b></a>
        <li><a href="#colors">Color scales</a></li>
    </ul>

</div>

<div id="docs">
	<div class="title">InCHlib</div>

	<div class="description">In this section InCHlib’s methods, events, attributes and color schemes are documented. Attributes influence various parameters of the visualization.  The only obligatory attribute is the target attribute which defines the ID of the HTML <a href="#target">target</a> element.</div>

	<hr />
	<div class="title">Methods</div>
		<div class="doc">
			<div class="small_title" id="read_data">read_data()</div>
			<div class="description">read data in a JSON format</div>
			<div class="default">
				<div class="subtitle">Example:</div>
				<div class="default_value">inchlib_instance.read_data(json_data)</div>
			</div>
		</div>
		<div class="doc">
			<div class="small_title" id="read_data_from_file">read_data_from_file()</div>
			<div class="description">read data form JSON data file</div>
			<div class="default">
				<div class="subtitle">Example:</div>
				<div class="default_value">inchlib_instance.read_data_from_file("/path/to/file.json")</div>
			</div>
		</div>
		<div class="doc">
			<div class="small_title" id="draw">draw()</div>
			<div class="description">draw visualization</div>
			<div class="default">
				<div class="subtitle">Example:</div>
				<div class="default_value">inchlib_instance.draw()</div>
			</div>
		</div>

		<div class="doc">
			<div class="small_title" id="update_settings">update_settings()</div>
			<div class="description">update InCHlib instance settings (e.g., heatmap_colors, metadata_colors etc.), changes occur after <a href="#redraw">redraw()</a> method call</div>
			<div class="default">
				<div class="subtitle">Example:</div>
				<div class="default_value">inchlib_instance.update_settings({"heatmap_colors": "Blues"})</div>
			</div>
		</div>


		<div class="doc">
			<div class="small_title" id="redraw">redraw()</div>
			<div class="description">redraw InCHlib instance e.g., with updated settings when using <a href="#update_settings">update_settings()</a> method</div>
			<div class="default">
				<div class="subtitle">Example:</div>
				<div class="default_value">inchlib_instance.redraw()</div>
			</div>
		</div>

		<div class="doc">
			<div class="small_title" id="highlight_rows">highlight_rows()</div>
			<div class="description">highlight rows specified by row IDs</div>
			<div class="default">
				<div class="subtitle">Example:</div>
				<div class="default_value">inchlib_instance.highlight_rows(["row_id_1", "row_id_2", "row_id_3"])</div>
			</div>
		</div>
		<div class="doc">
			<div class="small_title" id="unhighlight_rows">unhighlight_rows()</div>
			<div class="description">unhighlight highlighted rows</div>
			<div class="default">
				<div class="subtitle">Example:</div>
				<div class="default_value">inchlib_instance.unhighlight_rows()</div>
			</div>
		</div>

		<div class="doc">
			<div class="small_title" id="highlight_cluster">highlight_cluster()</div>
			<div class="description">highlight cluster (dendrogram node) specified by node ID</div>
			<div class="default">
				<div class="subtitle">Example:</div>
				<div class="default_value">inchlib_instance.highlight_cluster("node_id_1")</div>
			</div>
		</div>

		<div class="doc">
			<div class="small_title" id="unhighlight_cluster">unhighlight_cluster()</div>
			<div class="description">unhighlight current highlighted cluster (dendrogram node)</div>
			<div class="default">
				<div class="subtitle">Example:</div>
				<div class="default_value">inchlib_instance.unhighlight_cluster()</div>
			</div>
		</div>

	<hr />
	<div class="title">Events</div>
	{% for e in events %}
		<div class="doc">
			<div class="small_title" id="{{ e.name }}">{{ e.name }}</div>
			<div class="description">{{ e.description|safe }}</div>
			<div class="default">
				<div class="subtitle">Default:</div>
				<div class="default_value"></div>
			</div>
		</div>
	{% endfor %}
	<hr />
	<div class="title">Attributes</div>
	{% for a in attributes %}
		<div class="doc">
			<div class="small_title" id="{{ a.name }}">{{ a.name }}</div>
			<div class="description">{{ a.description|safe }}</div>
			<div class="default">
				<div class="subtitle">Default:</div>
				<div class="default_value"></div>
			</div>
		</div>
	{% endfor %}
	<hr />
	<div class="doc">
		<div class="small_title" id="colors">Color scales</div>
		<div class="description">set of color scales contained in InCHlib</div>
		<table id="colors_table" class="pure-table pure-table-bordered">
			<thead>
				<tr>
					<td>Name</td>
				</tr>
			</thead>

		</table>
	</div>
</div>
{% endblock %}