{% extends "inchlib_base.html" %}

{% block content %}
{% load staticfiles %}

<script>
    $(document).ready(function(){
        var current_protein = "1PO5";
        var initial_pdb = current_protein;
        var target_element = $("#protein_dendrogram");
        var offset = target_element.offset();
        var max_y = offset.top + 150;
        var x_pos = offset.left;
        var pdb_keys = ["PDB ID", "Structure Title", "Chain Length", "Resolution", "Classification", "Biological Process", "Cellular Component", "Molecular Function", "PubMed ID", "DOI"];

        var protein_card = $("#protein_card");
        var protein_div = $("#protein_div");
        var protein_canvas;
        protein_div.css({"left": x_pos + target_element.width()-40, "top": max_y});
        var overflow_div = $("#overflow_div");
        var webgl = true;
        var loading = $('#loading');

        var canvas = !! window.CanvasRenderingContext2D;
        var webgl_check = ( function () { try { return !! window.WebGLRenderingContext && !! document.createElement( 'canvas' ).getContext( 'experimental-webgl' ); } catch( e ) { return false; } } )();

        if(webgl_check){
            $.getScript("{% static "js/glmol/GLmol.js" %}")
            .success(function( data, textStatus, jqxhr ) {
              window.glmol = new GLmol('protein', true);
              get_protein_from_pdb(initial_pdb);
            })
        }
        else{
            var protein_img = $("<div id='protein_img'>Your browser does not support WebGL or WebGL is disabled in your browser settings.<div>To see the 3D model of the selected protein, enable WebGL or use browser with WebGL support. For best user experience, we recommend <a href='https://www.google.com/intl/cs/chrome/browser/' target=blank>Google Chrome</a>.</div></div>");
            $("#protein").html(protein_img);
            webgl = false;
            get_protein_from_pdb(initial_pdb);

        }

        window.dendrogram = new InCHlib({{ settings }});
        dendrogram.settings.max_height = 1100;
        dendrogram.read_data_from_file("{% static "data/"|add:example.data %}");
        dendrogram.draw();

        dendrogram.highlight_rows([initial_pdb]);

        dendrogram.events.row_onclick = function(ids){
            if(ids.length == 1 && ids[0] != current_protein){
                current_protein = ids[0];
                get_protein_from_pdb(ids[0]);
                dendrogram.highlight_rows(ids);
                dendrogram.unhighlight_cluster();
            }
        };

        function get_protein_from_pdb(id){
            if(webgl){
                protein_canvas = $("#protein > canvas");
                protein_canvas.hide();
                loading.fadeIn();
            }
            protein_card.hide();
            $.ajax({
                type: 'GET',
                dataType: "json",
                url: "{% url get_pdb_file %}",
                data:{pdb_id: id, webgl: webgl},
                success: function(pdb){
                    if(webgl){
                        $("#protein_src").val(pdb.pdb_file);
                        glmol.loadMolecule();
                        loading.hide();
                        protein_canvas.fadeIn();
                    }
                    create_pdb_card(pdb);
                    protein_card.fadeIn();
                },
            });
        }

        function create_pdb_card(pdb){
            var table = $("<table class='pure-table pure-table-bordered'></table>");
            var i, row;
            var key2url = {"PDB ID": "http://www.pdb.org/pdb/explore/explore.do?structureId=",
                            "PubMed ID": "http://www.ncbi.nlm.nih.gov/pubmed/",
                            "DOI": "http://dx.doi.org/",
                            "Biological Process": "http://amigo.geneontology.org/amigo/term/",
                            "Cellular Component": "http://amigo.geneontology.org/amigo/term/",
                            "Molecular Function": "http://amigo.geneontology.org/amigo/term/"
                        };

            
            for(i = 0; i < pdb_keys.length; i++){
                var key = pdb_keys[i];
                var value = pdb[key];
                var url_value = value;
                
                if(key == "Classification"){
                    value = value.toLowerCase();
                }  
                else if(key == "Biological Process" || key ==  "Cellular Component" || key == "Molecular Function"){
                    value = pdb[key][1];
                    url_value = pdb[key][0];
                }
                else if(key == "Chain Length"){
                    value = value + " residues";
                }

                if(value != ""){
                    if(key == "PubMed ID"){
                        table.append("<tr><td colspan='2' id='protein_citation'><b>Primary citation</b></td></tr>")
                    }
                    else if(key == "Resolution"){
                        key = "Resolution&nbsp;[Å]";
                    }
                    
                    if(key in key2url){
                        value = "<a href='" + key2url[key] + url_value + "' target=blank>" + value + "</a>";
                    }

                    row = "<tr>" + "<td><b>" + key + "</b></td>" + "<td>" + value + "</td>" + "</tr>";
                    table.append(row);
                }
            }

            protein_card.html(table);
        }

        $(document).click(function(evt){
            if(evt.target.localName != "canvas"){
                protein_canvas.hide();
                protein_card.hide();
                dendrogram.unhighlight_cluster();
                dendrogram.highlight_rows([])
            }
        });

    });
</script>

<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        {% for e in examples %}
            {% if e.exampleid == example.exampleid %}
                <li class="pure-menu-selected"><a href="{% url use_cases e.exampleid %}">{{ e.title }}</a></li>
            {% else %}
                <li><a href="{% url use_cases e.exampleid %}">{{ e.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<hr/>


<div class="description">
<p>The displayed data set consists of of 139 proteins, each characterized by percentage of its 20 amino acid. Protein structures were obtained from the <a href="http://www.rcsb.org/pdb/home/home.do" target="blank">Protein Data Bank (PDB)</a>. We selected non-redundant (maximum sequence identity of 70%) eukaryotic membrane proteins resolved by X-ray crystallography. Each protein has one chain long at least 100 residues.
</p>

<p>The data were clustered using <i>Euclidean</i> distance and <i>Ward's</i> linkage. Protein 3D structure is rendered by the <a href="http://webglmol.sourceforge.jp/index-en.html" target="blank">GLmol</a> molecular viewer. PDB file of each structure is  downloaded directly from the <a href="http://www.rcsb.org/pdb/home/home.do" target="blank">PDB server</a>, and it can take up to 20 seconds.</p>

<div class="small_title">Data set information</div>
<ul>
<li>instances: 139 eukaryotic membrane proteins</li>
<li>features: percentage of 20 amino acids</li>
</ul>


<div class="small_title">Source: <a href="http://www.rcsb.org/pdb/home/home.do" target="blank">Protein Data Bank (PDB)</a></div>

<p>When the heatmap row is clicked, a corresponding pdb file is dynamically fetched from the PDB database, and the protein 3D model is displayed. Various information linked to external databases are summarized below protein visualization.</p>

</div>


<div id="protein_div">
    <div id="protein">
        <div id="protein_src"></div>
        <div id="loading">
            <img src="{% static "img/loading.gif" %}"/>
        </div>
    </div>
    <div id="protein_card"></div>
    <div id="overflow_div"></div>
</div>

<div id="protein_dendrogram"></div>

{% endblock %}