{% extends "inchlib_base.html" %}

{% block content %}
{% load staticfiles %}
<script src="{% static "js/glmol/Three49custom.js" %}"></script>
<script src="{% static "js/glmol/GLmol.js" %}"></script>
<script>
    $(document).ready(function(){
        var target_element = $("#protein_dendrogram");
        var offset = target_element.offset();
        var max_y = offset.top + 150;
        var x_pos = offset.left;
        //PDB ID,Chain ID,Structure Title,Resolution,Classification,Source,Biological Process,Cellular Component,Molecular Function,PubMed ID,Mesh Terms,DOI,Sequence,Chain Length
        var pdb_keys = ["PDB ID", "Structure Title", "Chain Length", "Resolution", "Classification", "Biological Process", "Cellular Component", "Molecular Function", "PubMed ID", "DOI"];

        var protein_card = $("#protein_card");
        var protein_div = $("#protein_div");
        protein_div.css({"left": x_pos + target_element.width()-60, "top": max_y});
        var overflow_div = $("#overflow_div");

        var glmol = new GLmol('protein', true);
        var loading = $('#loading');
        var initial_pdb = "1PO5";

        window.dendrogram = new InCHlib({{ settings }});
        dendrogram.read_data_from_file("{% static "data/"|add:example.data %}");
        dendrogram.draw();

        dendrogram.highlight_rows([initial_pdb]);
        get_protein_from_pdb(initial_pdb)

        dendrogram.settings.highlight_
        dendrogram.settings.row_onclick = function(ids){
            if(ids.length == 1){
                get_protein_from_pdb(ids[0]);
                dendrogram.highlight_rows(ids);
            }
        };

        function get_protein_from_pdb(id){
            var protein_canvas = $("#protein > canvas");
            loading.fadeIn();
            protein_canvas.hide();
            protein_card.hide();
            $.ajax({
                type: 'GET',
                dataType: "json",
                url: "{% url get_pdb_file %}",
                data:{pdb_id: id},
                success: function(pdb){
                    $("#protein_src").val(pdb.pdb_file);
                    glmol.loadMolecule();
                    loading.hide();
                    create_pdb_card(pdb);
                    protein_canvas.fadeIn();
                    protein_card.fadeIn();
                },
            });
        }

        function create_pdb_card(pdb){
            var table = $("<table class='pure-table pure-table-bordered'></table>");
            var i, row;
            var key2url = {"PDB ID": "http://www.pdb.org/pdb/explore/explore.do?structureId=",
                            "PubMed ID": "http://www.ncbi.nlm.nih.gov/pubmed/",
                            "DOI": "http://dx.doi.org/",
                            "Biological Process": "http://amigo.geneontology.org/amigo/term/",
                            "Cellular Component": "http://amigo.geneontology.org/amigo/term/",
                            "Molecular Function": "http://amigo.geneontology.org/amigo/term/"
                        };

            
            for(i = 0; i < pdb_keys.length; i++){
                var key = pdb_keys[i];
                var value = pdb[pdb_keys[i]];
                
                if(key == "Biological Process" || key == "Cellular Component" || key == "Molecular Function"){
                    value = value.split("*");
                    if(value.length > 1){
                        value = value[1].replace(" ", "");
                    }
                }

                if(value == ""){
                    value = "-";
                }
                else if(key in key2url){
                    value = "<a href='" + key2url[key] + value + "' target=blank>" + value+ "</a>";
                }

                row = "<tr>" + "<td><b>" + pdb_keys[i] + "</b></td>" + "<td>" + value + "</td>" + "</tr>";
                table.append(row);
            }

            protein_card.html(table);
        }

    });
</script>

<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        {% for e in examples %}
            {% if e.exampleid == example.exampleid %}
                <li class="pure-menu-selected"><a href="{% url use_cases e.exampleid %}">{{ e.title }}</a></li>
            {% else %}
                <li><a href="{% url use_cases e.exampleid %}">{{ e.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<hr/>


<div class="description">
<p>Protein sequence and structure similarity is a key tool in the determination ...</p>

<p>The data consist of the amino acid percentage composition of a set of 139 proteins exported from the <a href="http://www.rcsb.org/pdb/home/home.do" target="blank">Protein Data Bank (PDB)</a>. The set is composed from the representatives of eukaryotic membrane proteins with maximum similarity of 70% and exactly one chain at least 100 residuals long.</p>

<p>The data were clustered using <i>Euclidean</i> distance and <i>Ward's</i> linkage.</p>

<div class="small_title">Data set information</div>
<ul>
<li>instances: 139 eukaryotic membrane proteins</li>
<li>features: the percentage of 20 amino acids from which the proteins are composed</li>
</ul>


<div class="small_title">Source: <a href="http://www.rcsb.org/pdb/home/home.do" target="blank">Protein Data Bank (PDB)</a></div>

<p>After the click on the heatmap row the pdb file is dynamically fetched from PDB and the 3D model of protein is displayed next to the heatmap. Under the protein model there are also information about the protein: <i>PDB ID, Structure Title, Chain Length, Resolution, Classification, Biological Process, Cellular Component, Molecular Function, PubMed ID, DOI</i>.</p>

</div>


<div id="protein_div">
    <div id="protein">
        <div id="protein_src"></div>
        <div id="loading">
            <img src="{% static "img/loading.gif" %}"/>
        </div>
    </div>

    <div id="protein_card"></div>
    <div id="overflow_div"></div>
</div>

<div id="protein_dendrogram"></div>

{% endblock %}