{% extends "inchlib_base.html" %}

{% block content %}
{% load staticfiles %}
<script>
	var settings = {{ settings }};
	if(settings["target"] === undefined){
		settings["target"] = "dendrogram";
	}

	$(document).ready(function(){
		$("#menu_tutorial").addClass('pure-menu-selected'); 
		var settings_string = "{}", i, val;

		if(!($.isEmptyObject(settings))){
			settings_string = "{\n";
			settings_string = settings_string + '  <a href="../docs#target" target=blank>target</a>: "dendrogram",\n';
			
			for(i in settings){
				if(i != "target"){
					val = (typeof(settings[i]) == "string")? '"'+settings[i]+'"': settings[i];
					if(i == "highlighted_rows"){
						val = "[" + val + "]";
					}
					else if(i == "row_onclick"||i=="dendrogram_node_onclick"){
						val = settings[i];
					}
					settings_string = settings_string + "  <a href='../docs#" + i +"' target=blank>" + i + "</a>" + ": " + val + ",\n";
				}
			}
			settings_string = settings_string + "}"
		}
		
		$("#example .settings").html(settings_string);

		window.dendrogram = new InCHlib(settings);
		dendrogram.read_data_from_file("{% static "data/"|add:example.data %}");
		dendrogram.draw();

		{% if example.exampleid == 9 %}
			dendrogram.events.row_onclick = function(object_ids, evt){$("#object_ids").text(object_ids);};
			dendrogram.events.dendrogram_node_onclick = function(object_ids, node_id, evt){$("#object_ids").text(object_ids);};
		{% endif %}

		{% if example.exampleid == 19 %}
			$("#highlight_rows_button").click(function(){
				dendrogram.highlight_rows(["14039","10368","9560","7889"]);
			});
			$("#unhighlight_rows_button").click(function(){
				dendrogram.unhighlight_rows();
			});

			$("#highlight_cluster_button").click(function(){
				dendrogram.highlight_cluster("node@337");
			});

			$("#unhighlight_cluster_button").click(function(){
				dendrogram.unhighlight_cluster();
			});

			$("#update_settings_button").click(function(){
				dendrogram.update_settings({"heatmap_colors": "Greys"});
			});

			$("#redraw_button").click(function(){
				dendrogram.redraw();
			});
		{% endif %}
	});


</script>

<div id="examples_menu" class="pure-menu pure-menu-open">
    <a class="pure-menu-heading"><b>Examples</b></a>
    
    <ul>
        {% for e in examples %}
        	{% if e.exampleid == example.exampleid %}
        		<li class="pure-menu-selected"><a href="{% url examples e.exampleid %}">{{ e.title }}</a></li>
        	{% else %}
        		<li><a href="{% url examples e.exampleid %}">{{ e.title }}</a></li>
        	{% endif %}
        {% endfor %}
    </ul>
</div>

<div id="example">
	<div class="title">{{ example.title }}
		{% if next %}
			<a class="pure-button" href="{% url examples next %}" id="next_example_button">Next example &gt;</a>
		{% endif %}

		{% if previous %}
			<a class="pure-button" href="{% url examples previous %}" id="previous_example_button">&lt; Previous example</a>
		{% endif %}
	</div>

	<div class="description">{% autoescape off %}{{ example.description }}{% endautoescape %}</div>

	{% if example.exampleid == 9 %}
		<div class="example_settings">
			<div class="small_title">Example code</div>
			<div class="code">window.inchlib = InCHlib({ //instantiate InCHlib with given settings
		target:"dendrogram",
		count_column: true
	});

//define function for row_onclick event
inchlib.events.row_onclick = function(object_ids, evt){
	$("#object_ids").text(object_ids); //insert object IDs to element with ID object_ids
};

//define function for dendrogram_node_onclick event
inchlib.events.dendrogram_node_onclick = function(object_ids, node_id, evt){
	$("#object_ids").text(object_ids); //insert object IDs to element with ID object_ids
};

inchlib.read_data(json_data); //read data
inchlib.draw(); //draw visualization</div>
		</div>
	{% endif %}

	<div class="example_settings">
		<div class="small_title">Example settings</div>
		<div class="settings"></div>
	</div>

	<div class="example_settings">
		<div class="small_title">Example data</div>
		{% if example.exampleid == 10 or example.exampleid == 4 or example.exampleid == 7 or example.exampleid == 5 %}
			<div class="example_data">The activities of several ligands measured at three different concentrations. Data are clustered using <i>Euclidean</i> distance and <i>Ward's</i> linkage. <i>LogP (octanol/water partition coefficent), molecular weight and the number of aromatic rings</i> descriptors are used as metadata. <a href="{% static "data/"|add:example.data %}" id="example_data_link" target=blank><b>Show data >></b></a></div>
		{% else %}
			<div class="example_data">The activities of several ligands measured at three different concentrations. Data are clustered using <i>Euclidean</i> distance and <i>Ward's</i> linkage. <a href="{% static "data/"|add:example.data %}" id="example_data_link" target=blank><b>Show data >></b></a></div>
		{% endif %}
	</div>

		{% if example.exampleid == 19 %}
			<div id="method_buttons">
				<div class="small_title">Use the buttons to call given InCHlib methods</div>
				<div class="pure-button active" id="highlight_rows_button">inchlib.highlight_rows(["14039","10368","9560","7889"]);</div>
				<div class="pure-button inactive" id="unhighlight_rows_button">inchlib.unhighlight_rows();</div>
				<div class="pure-button active" id="highlight_cluster_button">inchlib.highlight_cluster("node@337");</div>
				<div class="pure-button inactive" id="unhighlight_cluster_button">inchlib.unhighlight_cluster();</div>
				<div class="pure-button inactive" id="update_settings_button">inchlib.update_settings({"heatmap_colors": "Greys"});</div>
				<div class="pure-button inactive" id="redraw_button">inchlib.redraw();</div>
			</div>
		{% endif %}


	{% if example.exampleid == 9 %}
		<div id="row_ids_callback"><b>Object IDs:</b> <span id="object_ids"></span></div>
	{% endif %}
	
	<div id="dendrogram"></div>
</div>
<hr />
{% endblock %}