{% extends "inchlib_base.html" %}

{% block content %}
{% load staticfiles %}
<script src="{% static "js/highcharts.js" %}"></script>

<script>
$(document).ready(function() {
  var performance_rows = new Highcharts.Chart({
            chart: {
                renderTo: "performance_rows",
            },
            title: {
                text:'Clustering Time X Number of data points (50 features)',
                x: -20 //center
            },
            xAxis: {
                categories: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
                title: {
                    text: 'Data points (thousands)'
                },
            },
            yAxis: {
                title: {
                    text: 'Time (seconds)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: 'seconds'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Time',
                data:[0.098, 0.281, 0.519, 0.872, 1.299, 1.83, 2.416, 3.101, 3.901, 4.764, 5.751, 6.847, 8.054, 9.365, 10.768, 12.325, 14.132, 16.016, 18.184, 20.363],
            },]
    });

    var performance_features = new Highcharts.Chart({
            chart: {
                renderTo: "performance_features",
            },
            title: {
                text: 'Clustering Time X Number of features (50 data points)',
                x: -20 //center
            },
            xAxis: {
                categories: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
                title: {
                    text: 'Features (thousands)'
                },
            },
            yAxis: {
                title: {
                    text: 'Time (seconds)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: 'seconds'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Time',
                data: [0.041, 0.079, 0.118, 0.157, 0.193, 0.232, 0.27, 0.309, 0.346, 0.385, 0.421, 0.46, 0.501, 0.539, 0.575, 0.616, 0.663, 0.708, 0.746, 0.789],
            },]
    });

    var performance_inchlib = new Highcharts.Chart({
            chart: {
                renderTo: "performance_inchlib",
            },
            title: {
                text: 'Rendering Time X Size of the data (20 features)',
                x: -20 //center
            },
            xAxis: {
                categories: [1, 2, 3, 4, 5, 6, 7],
                title: {
                    text: 'Data points (thousands)'
                },
            },
            yAxis: {
                title: {
                    text: 'Time (seconds)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: 'seconds'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Time',
                data: [2.8, 5.2, 7.7, 10.7, 12.6, 14.8, 18.2],
            },]
    });
});
</script>

<div class="description">
  <div class="title"></div>
  <p>Following charts demonstrate dependence of clustering speed (<i>inchlib_clust</i>) and rendering (<i>InCHlib</i>) on the data size. The test data are randomly generated integers between 0 and  1000. We used the Euclidean distance and Ward’s linkage for clustering.</p>

  <div class="pc_conf">Testing PC configuration: Kubuntu 13.10 system with Chrome 33.0.1750.146 browser, Intel Core i5-2400 CPU 3.10 GHz, 8 GB RAM, 120 GB solid-state drive (SSD)</div>
</div>

<div class="description">
  <div class="small_title">Clustering time vs. the number of data points</div>
  <p>Clustering time increases quadratically with the increasing number of data points. This corresponds to the O(N²) complexity of the Ward’s linkage implementation in the fastcluster library. Apart from the time increase, memory needs also grow significantly with the number of data points. Clustering of 20,000 data points requires around 2 GB RAM.</p>
</div>
<div id="performance_rows" class="chart"></div>
<div class="description">
  <div class="small_title">Clustering time vs. the number of features</div>
  <p>Clustering time increases with the increasing number of features only modestly. The dependence between the number of features and the clustering time is linear. If the total number of data is constant and data are clustered by rows, sets with less rows (e.g., 50 x 1000) are processed much faster than sets with higher number of rows (e.g., 1000 x 50). In the clustering, the time limited step is the formation of the distance matrix. Dimension of the distance matrix is given by the number of rows, and its size is constant with the increasing number of data features.</p>
</div>
<div id="performance_features" class="chart"></div>

<div class="description">
  <div class="small_title">Rendering time vs. the size of the data</div>
  <p>Rendering time depends linearly on the number of data values. It is also influenced by the PC configuration and used web browser. For smooth displaying, we recommend Google Chrome. Mozilla Firefox in Linux is, due to the lower speed of its JavaScript engine, unsuitable for large data sets.</p>
</div>
<div id="performance_inchlib" class="chart"></div>
<hr/>


{% endblock %}