{% extends "inchlib_base.html" %}

{% block content %}
<script>
	$(document).ready(function(){
		window.dendrogram = new InCHlib("dendrogram", 
			{
				metadata: true, 
				dendrogram: true,
				metadata_type: "categoric", 
				column_dendrogram:true, 
				max_height: 35000,
				font: "Inconsolata",
				metadata_colors: "Reds",
				independent_columns_coloring: true
			});
		dendrogram.read_data({{ example.data }});
		dendrogram.draw();
	});
</script>
<div class="desc"><b>JSON</b> <i>(Javascript Object Notation)</i> serves as an input format for <b>InCHlib</b>. Its structure - defined by us - is easy to read/write for both human and computer. The structure of dendrogram is determined by parent/child relationships and not by the structure of format itself. The reason is to avoid the brackety madness.</div>

<div class="input_example">
	<div class="example_data">
		<div class="data">{
    "<span id="format_nodes"><a href="#nodes">nodes</a></span>": {
        "1": {
            "<span id="format_count"><a href="#count">count</a></span>": 1, 
            "<span id="format_distance"><a href="#distance">distance</a></span>": 0, 
            "<span id="format_data"><a href="#data">data</a></span>": [1.4, 3.5, 5.1], 
            "<span id="format_parent"><a href="#parent">parent</a></span>": "node@2", 
            "<span id="format_items"><a href="#items">items</a></span>": ["1"]
        }, 
        "node@2": {
            "<a href="#count">count</a>": 2, 
            "<a href="#distance">distance</a>": 3.32, 
            "<span id="format_left_id"><a href="left_id">left_id</a></span>": "1", 
            "<span id="format_right_id"><a href="right_id">right_id</a></span>": "2"
        }, 
        "2": {
            "<a href="#count">count</a>": 1, 
            "<a href="#distance">distance</a>": 0, 
            "<a href="#data">data</a>": [2.0, 1.0, 3.0], 
            "<a href="#parent">parent</a>": "node@2", 
            "<a href="#items">items</a>": ["2"]
        }
    },
</div>
<div class="data">    "<span id="format_header"><a href="#header">header</a></span>": ["First", "Second", "Third"],
</div>
<div class="data">    "<a href="#metadata">metadata</a>": {
        "<span id="format_metadata_header"><a href="#metadata_header">header</a></span>": ["metadata"], 
        "<span id="format_metadata_nodes"><a href="#metadata_nodes">nodes</a></span>": {
            "1": ["positive"], 
            "2": ["negative"]
        }
    }, 
</div>
<div class="data">    "<a href="#column_dendrogram">column_dendrogram</a>": {
        "nodes": {
            "node@2": {
                "<a href="#count">count</a>": 1, 
                "<a href="#distance">distance</a>": 0, 
                "<a href="#parent">parent</a>": "node@3"
            }, 
            "node@3": {
                "<a href="#count">count</a>": 2, 
                "<a href="#distance">distance</a>": 2.326, 
                "<a href="left_id">left_id</a>": "node@1", 
                "<a href="#parent">parent</a>": "node@4", 
                "<a href="right_id">right_id</a>": "node@2"
            }, 
            "node@0": {
                "<a href="#count">count</a>": 1, 
                "<a href="#distance">distance</a>": 0, 
                "<a href="#parent">parent</a>": "node@4"
            }, 
            "node@1": {
                "<a href="#count">count</a>": 1, 
                "<a href="#distance">distance</a>": 0, 
                "<a href="#parent">parent</a>": "node@3"
            }, 
            "node@4": {
                "<a href="#count">count</a>": 3, 
                "<a href="#distance">distance</a>": 3.516, 
                "<a href="left_id">left_id</a>": "node@0", 
                "<a href="right_id">right_id</a>": "node@3"
            }
        }
    }
}</div>
</div>

<div id="dendrogram"></div>


	<div class="format_desc">
		<div class="title"><a href="#format_nodes">Nodes</a></div>
		<div class="description" id="nodes">
			<p>The basic <b>InCHlib</b> format structure is <b>node/leaf</b>. All horizontal dendrogram nodes together with heatmap data are contained in the <i>nodes</i> section of the input data and each has its own ID. All nodes except for the root have the parent attribute which indicates the ID of its parent node.</p>
		
			<p><b>Node</b> is a non-terminal part of dendrogram which always has two child-nodes - left (<i>left_id</i>) and right (<i>right_id</i>). The distance from the dendrogram base is generally <b>greater than 0</b> and the count is always <b>greater than 1</b>.</p>
			 
			<p><b>Leaf-node</b> is a terminal part of dendrogram which has no child-nodes. The distance from the dendrogram base is <b>0</b> and the count is <b>1</b>. Leaf-node also has additional attribute <i>data</i> which is an array representing the heatmap row. Another attribute - <i>items</i> - is an array containing one or more IDs of items which are represented by the row.</p>
		
			<ul>
				<li><a href="#format_count" id="count"><b>count</b></a> - count of rows in the underlying hierarchy of node</li>
				<li><a href="#format_distance" id="distance"><b>distance</b></a> - distance from the base of the dendrogram</li>
				<li><a href="#format_parent" id="parent"><b>parent</b></a> - ID of a parent node</li>
				<li><a href="#format_left_id" id="left_id"><b>left_id</b></a> - ID of a left child</li>
				<li><a href="#format_right_id" id="right_id"><b>right_id</b></a> - ID of a right child</li>
				<li><a href="#format_items" id="items"><b>items</b></a> - ID/IDs of items represented by the row</li>
				<li><a href="#format_data" id="data"><b>data</b></a> - array of values representing the heatmap row</li>
			</ul>
		</div>
	</div>

	<div class="format_desc">
		<div class="title"><a href="#format_header">Header</a></div>
		<div id="header">
			<p>Header is just an array containing labels for heatmap columns. Header for metadata columns is contained under <i>metadata > header</i>.</p>
		</div>
	</div>

	<div class="format_desc">
		<div class="title"><a href="#format_metadata">Metadata</a></div>
		<div id="metadata">
            <p>Additional data for the main heatmap data. They have no influence on the order of the rows in the heatmap.</p>
            <ul>
                <li><a href="#format_metadata_nodes" id="metadata_nodes"><b>nodes</b></a> - object containing row IDs matching the leaf-node IDs in <a href="#format_nodes">nodes</a> section with an array of metadata values</li>
                <li><a href="#format_metadata_header" id="metadata_header"><b>header</b></a> - an array containing labels for metadata columns</li>
            </ul>
            
        </div>
	</div>

	<div class="format_desc">
		<div class="title"><a href="#format_column_dendrogram">Column dendrogram</a></div>
		<div id="column_dendrogram">
			<p>Column dendrogram represents the vertical dendrogram and has the same structure as the main row dendrogram contained in <a href="#format_nodes">nodes</a> section.</p>
		</div>
	</div>

{% endblock %}