{% extends "inchlib_base.html" %}

{% block content %}
{% load staticfiles %}

<script>
    $(document).ready(function() {
        $("#menu_tutorial").addClass('pure-menu-selected'); 
    });
</script>

<div id="examples_menu" class="pure-menu pure-menu-open">
    <a class="pure-menu-heading"><b>Examples</b></a>
    
    <ul>
        {% for e in examples %}
            {% if e.exampleid == example.exampleid %}
                <li class="pure-menu-selected"><a href="{% url examples e.exampleid %}">{{ e.title }}</a></li>
            {% else %}
                <li><a href="{% url examples e.exampleid %}">{{ e.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<div id="example">
    <div class="title">{{ example.title }}
        {% if next %}
            <a class="pure-button" href="{% url examples next %}" id="next_example_button">Next example ></a>
        {% endif %}

        {% if previous %}
            <a class="pure-button" href="{% url examples previous %}" id="previous_example_button">< Previous example</a>
        {% endif %}
    </div>

    <div class="description">
        <p>This example describes a typical pipeline consisting of data clustering, generating heatmap and its integration into the web page.</p>

       <p>InCHlib does not perform hierarchical clustering by itself. It is a visualization library to which data must be supplied in the JSON compliant <a href="{% url input_format %}" target=blank>InCHlib format</a>. This format is readily produced by our Python clustering tool <a href="{% url inchlib_clust %}" target=blank>inchlib_clust</a>. However, the user can use an arbitrary clustering software provided that a valid InCHlib input file is generated.</p>

       <p>Typical data processing and visualization pipeline is shown in the figure below. Individual steps (blue circles) are further described in a more detail.</p>

       <img id="workflow" src="{% static "img/workflow.png" %}"/>

        <div class="medium_title">Step 1 - Data preparation</div>
        <p>Data for clustering are typically supplied to <a href="{% url inchlib_clust %}" target=blank>inchlib_clust</a> as a csv (comma separated values) file. If the user wants to have column headers displayed in the heatmap, the first row of a csv file must contain header names. Metadata are provided in a separate csv file. The first column of both data and metadata files is always taken as an ID column. Below are given example snippets of data and metadata files used in all tutorial examples. They represent the activities of several ligands measured at three different concentrations with three physico-chemical properties as metadata.</p>

        <div class="small_title"><a href="{% static "source_data/example_data.csv" %}" target=blank>Whole data file</a></div>
    <div class="code">compoundid,1x10-5 mol.dm-3,1x10-4 mol.dm-3, 1x10-3 mol.dm-3
13736,6.675,5.932,4.799
13738,4.482,10.458,5.682
13548,2.43,2.478,8.649
7889,-1.0,2.244,60.017
10701,-0.23,-2.189,13.679
</div>

        <div class="small_title"><a href="{% static "source_data/example_metadata.csv" %}" target=blank>Whole metadata file</a></div>
    <div class="code">compoundid,LogP,Molecular Weight,Aromatic Rings
13736,2.788,286.157,1
13738,3.829,314.188,1
13548,4.45,330.219,0
7889,5.744,392.235,1
10701,5.209,472.228,1
</div>

<div class="medium_title">Step 2 - Data clustering</div>
<p>Recommended way of data clustering is the use of the <a href="{% url inchlib_clust %}" target=blank>inchlib_clust</a> script. This script not only performs clustering, but also returns the cluster heatmap as an <a href="{% url input_format %}" target=blank>InCHlib input file</a>. Below given is the command-line for Ward’s clustering with the Euclidean distance (these two options are implicit) of data stored in the <a href="{% static "source_data/example_data.csv" %}" target=blank>example_data.csv</a> file. Metadata are provided (option <i>-m</i>) as the <a href="{% static "source_data/example_metadata.csv" %}" target=blank>example_metadata.csv</a> file. Both data as well as metadata files have column  headers (<i>-dh</i> and <i>-mh</i> options). The output file <a href="{% static "data/example.json" %}" target=blank>example.json</a> contains the cluster heatmap in the <a href="{% url input_format %}" target=blank>InCHlib input format</a>.</p>

<div class="small_title">Command-line</div>
<div class="code">python inchlib_clust.py example_data.csv -m example_metadata.csv -dh -mh -o example.json</div>

<div class="medium_title">Step 3 - InCHlib deployment</div>
<p>The file <a href="{% static "data/example.json" %}" target=blank>example.json</a> describes dendrogram structure and it contains all data necessary for cluster heatmap visualization. No ther file is needed to render the cluster heatmap. An example below demonstrates how easy it is to integrate InCHlib visualization into your web page.</p>

<p>inchlib.js (and its dependencies <a href="{% static "js/jquery-2.0.3.min.js" %}" target=blank>jquery-2.0.3.min.js</a> and <a href="{% static "js/kinetic-v5.0.0.min.js" %}" target=blank>kinetic-v5.0.0.min.js</a>) must be first imported in the <i>&lt;script&gt;</i> tag. InCHlib is initialized immediately when the whole page is loaded (detected by the <i>$(document).ready</i> event), and it contains several attributes defining the appearance of the visualization (all attributes are documented <a href="{% url docs %}" target=blank>here</a>). Finally, <a href="{% static "data/example.json" %}" target=blank>example.json</a> is loaded, and the cluster heatmap is displayed.
</p>

<p>Below is an example of a simple HTML web page with InCHlib integration:</p>

<div class="code"> &lt;html&gt;
    &lt;head&gt;
        &lt;script src="path/to/jquery-2.0.3.min.js"&gt;&lt;/script&gt;
        &lt;script src="path/to/kinetic-v5.0.0.min.js"&gt;&lt;/script&gt;
        &lt;script src="path/to/inchlib-1.0.1.js"&gt;&lt;/script&gt;
        &lt;script&gt;
        $(document).ready(function() { <span class="js_comment">//run when the whole page is loaded</span>
            window.inchlib = new InCHlib({ <span class="js_comment">//instantiate InCHlib</span>
                <a href="{% url docs %}#target" target=blank>target</a>: "inchlib", <span class="js_comment">//ID of a target HTML element</span>
                <a href="{% url docs %}#metadata" target=blank>metadata</a>: true, <span class="js_comment">//turn on the metadata</span> 
                <a href="{% url docs %}#max_height" target=blank>max_height</a>: 1200, <span class="js_comment">//set maximum height of visualization in pixels</span>
                <a href="{% url docs %}#width" target=blank>width</a>: 1000, <span class="js_comment">//set width of visualization in pixels</span>
                <a href="{% url docs %}#heatmap_colors" target=blank>heatmap_colors</a>: "Greens", <span class="js_comment">//set <a href="{% url docs%}#colors" target=blank>color scale</a> for clustered data</span>
                <a href="{% url docs %}#metadata_colors" target=blank>metadata_colors</a>: "Reds", <span class="js_comment">//set <a href="{% url docs%}#colors" target=blank>color scale</a> for metadata</span>
            });

            inchlib.read_data_from_file("path/to/example.json"); <span class="js_comment">//read input json file</span>
            inchlib.draw(); <span class="js_comment">//draw cluster heatmap</span>
        });
        &lt;/script&gt;
    &lt;/head&gt;

    &lt;body&gt;
        &lt;div id="inchlib"&gt;&lt;/div&gt;
    &lt;/body&gt;
 &lt;/html&gt;    
</div>

<p><a href="{% url inchlib_examples_summary_html %}" target=blank class="small_title">You can see the resulted web page here >></a></p>

<div class="small_title">New in inchlib_clust 0.1.2</div>
<p>Simple HTML page with embedded cluster heatmap can also be exported by <a href="{% url inchlib_clust %}" target=blank>inchlib_clust</a> using the <i>export_cluster_heatmap_as_html()</i> function (<i>-html /path/to/dir</i> in command-line). All files including dependencies are stored to the user defined directory. If the user does not provide the directory path, the current directory is used.</p>

</div>
</div>
<hr />
{% endblock %}
