<!DOCTYPE html>
<html>
<head>

{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/pure-min.css" %}" type="text/css"/>
<link rel="stylesheet" href="{% static "css/inchlib.css" %}" type="text/css"/>
<link rel="stylesheet" href="{% static "css/highlight.css" %}" type="text/css"/>
<script src="{% static "js/jquery-2.0.3.min.js" %}"></script>
<script src="{% static "js/kinetic-v5.1.0.min.js" %}"></script>
<script src="{% static "js/inchlib_dev.js" %}"></script>

<title>InCHlib - Interactive Cluster Heatmap library</title>
</head>
<script>
$(document).ready(function(){

    window.dendrogram_1 = new InCHlib(
            {
                target: "dendrogram_1",
                // heatmap: false,
                // heatmap_header: true,
                draw_row_ids: true,
                // column_metadata_row_height: 10,
                // column_metadata_colors: "BuYl",
                // dendrogram: true,
                max_height: 900,
                width: 800,
                heatmap_colors: "BuWhRd",
                column_dendrogram: true,
                // metadata_colors: "RdLrBu",
                // highlight_colors: "PuOr",
                // heatmap_font_color: "white",
                // show_export_button: true,
                // count_column: true,
                // values_center: "median",
                // independent_columns: false,
                max_percentile: 90,
                min_percentile: 20,
                middle_percentile: 70
            });
    // dendrogram_1.add_color_scale("WhBk", {"start": {"r":255, "g": 255, "b": 255}, "middle": {"r": 236, "g": 158, "b": 56}, "end": {"r": 0, "g": 0, "b": 0}})

    dendrogram_1.read_data_from_file("{% static "data/microarrays_column_metadata.json" %}");
    dendrogram_1.draw();
    
    /*
    window.dendrogram_1 = new InCHlib(
            {
                target: "dendrogram_1",
                metadata: true, 
                // heatmap: false,
                heatmap_header: true,
                draw_row_ids: true,
                // column_dendrogram: true,
                dendrogram: true,
                max_height: 500,
                width: 800,
                heatmap_colors: "Greens",
                metadata_colors: "RdLrBu",
                highlight_colors: "PuOr",
                header_as_heatmap_row: true,
                show_export_button: true,
            });
    // dendrogram.add_color_scale("WhBk", {"start": {"r":255, "g": 255, "b": 255}, "middle": {"r": 236, "g": 158, "b": 56}, "end": {"r": 0, "g": 0, "b": 0}})
    dendrogram_1.read_data_from_file("{% static "data/chembl_era_normalized.json" %}");
    dendrogram_1.draw();

    window.dendrogram_2 = new InCHlib(
            {
                target: "dendrogram_2",
                metadata: true, 
                // heatmap: false,
                draw_row_ids: true,
                // column_dendrogram: true,
                dendrogram: true,
                max_height: 500,
                width: 800,
                heatmap_colors: "Greens",
                metadata_colors: "RdLrBu",
                highlight_colors: "PuOr",
                header_as_heatmap_row: true,
                show_export_button: true
            });
    // dendrogram.add_color_scale("WhBk", {"start": {"r":255, "g": 255, "b": 255}, "middle": {"r": 236, "g": 158, "b": 56}, "end": {"r": 0, "g": 0, "b": 0}})
    dendrogram_2.read_data_from_file("{% static "data/chembl_era.json" %}");
    dendrogram_2.draw();

    dendrogram_1.events.row_onmouseover = function(leaf_id){
        dendrogram_2.highlight_rows([leaf_id]);
    }

    dendrogram_1.events.dendrogram_node_onclick = function(leaf_ids){
        dendrogram_2.highlight_rows(leaf_ids);
    }
    */
});
</script>


<body id="dev">
    <h1>DEV</h1>
       
    <div id="dendrogram_1"></div>
    <div id="dendrogram_2"></div>
</body>
</html>

