{% extends "inchlib_base.html" %}

{% block content %}

{% load staticfiles %}
<div class="description">
	<div class="title">InCHlib</div>

	<div class="pure-button download_button">
		<a href="{% static "js/inchlib.js" %}" target=blank>Download InCHlib</a>
	</div>

	<div class="small_title">
		InCHlib requires the following dependencies to be installed:
	</div>
	<ul>
		<li><a href="http://jquery.com/" target=blank>jQuery</a>  (tested with version 2.0.3, <a href="{% static "js/jquery-2.0.3.min.js"%}" target=blank>download jQuery 2.0.3</a>)</li>
		<li><a href="http://kineticjs.com/" target=blank>KineticJS</a>  (tested with version 5.0.0, <a href="{% static "js/kinetic-v5.0.0.min.js"%}" target=blank>download KineticJS 5.0.0</a>)</li>
	</ul>

	<div class="small_title">Installation</div>
	<div class="description">
		To use <b>InCHlib</b>, copy <i>inchlib.js</i> into the selected folder, and import it from your code:
	</div>
	<div class="code"> &lt;script src="/path/to/inchlib.js"&gt;&lt;/script&gt;</div>
</div>

<hr/>
<div class="description">
	<div class="title">inchlib_clust</div>

	<div class="pure-button download_button">
		<a href="{% static "inchlib_clust/inchlib_clust-0.1.0.zip" %}" target=blank>Download inchlib_clust</a>
	</div>

	<div class="small_title">
		inchlib_clust requires the following dependencies to be installed:
	</div>
	<ul>
		<li><a href="http://www.numpy.org/" target=blank>numpy</a> (tested with version 1.7.1)</li>
		<li><a href="http://scipy.org/" target=blank>scipy</a> (tested with version 0.12.0)</li>
		<li><a href="http://scikit-learn.org/stable/l" target=blank>scikit-learn</a> (tested with version 0.14)</li>
		<li><a href="https://pypi.python.org/pypi/hcluster" target=blank>hcluster</a> (tested with version 0.2.0)</li>
		<li><a href="http://danifold.net/fastcluster.html" target=blank>fastcluster</a> (tested with version 1.1.8)</li>
	</ul>

	<div class="small_title">Installation</div>
	<div class="description">
		On <b>Linux</b>, install <b>inchlib_clust</b> using following commands:
	</div>
	<div class="code"> sudo unzip inchlib_clust-0.1.0.zip
 cd inchlib_clust-0.1.0/
 sudo python setup.py install</div>

	<div class="description">
		On <b>Windows</b>, install <b>inchlib_clust</b> using following command:
	</div>

	<div class="code"> python setup.py install</div>
		
</div>
</div>

{% endblock %}