{% extends "inchlib_base.html" %}

{% block content %}
{% load staticfiles %}
{% load staticfiles %}
<script>
    $(document).ready(function(){
        var static_url = "{% static "img/gr_molecules/" %}";
        var chembl_url = "https://www.ebi.ac.uk/chembl/compound/inspect/"
        var target_element = $("#dendrogram");
        var offset = target_element.offset();
        var max_y = offset.top + 150;
        var x_pos = offset.left;
        var mol_element = $("#molecule");
        var img_element = $("#molecule_img");
        var mol_id_element = $("#mol_id");
        var mol_link = $("#molecule a");
        mol_element.css({"left": x_pos + target_element.width()-80});

        window.dendrogram = new InCHlib(
            {
                target: "dendrogram",
                metadata: true, 
                dendrogram: true,
                max_height: 900,
                font: "Trebuchet MS",
                heatmap_colors: "Greens",
                metadata_colors: "RdLrBu",
            });

        dendrogram.read_data_from_file("{% static "data/chembl_gr.json" %}");
        dendrogram.draw();
        bind_dendrogram_events();

        function show_molecule(mol_id, evt){
            var filepath = static_url + mol_id + ".svg";
            var y = evt.pageY-300;
            if(y < max_y){
                y = max_y;
            }
            mol_element.css({"top": y, "border-width": "1px"});
            img_element.attr("src", filepath);
            mol_id_element.text(mol_id);
            mol_link.attr("href", chembl_url+mol_id);
            mol_element.show();

        }

        function hide_molecule(ids, evt){
            mol_element.hide();
        }

        function fix_molecule(){
            dendrogram.settings.row_onmouseover = function(){};
            dendrogram.settings.heatmap_onmouseout = function(){};
            dendrogram.settings.row_onclick = function(){
                dendrogram.highlight_rows([]);
                bind_dendrogram_events();
            };
            mol_element.css({"border-width": "2px"});
        }

        function bind_dendrogram_events(){
            dendrogram.settings.row_onmouseover = function(ids, evt){
                show_molecule(ids, evt);
            };
            dendrogram.settings.heatmap_onmouseout = function(evt){
                hide_molecule(evt);
            };
            dendrogram.settings.row_onclick = function(ids, evt){
                fix_molecule(ids[0]);
                dendrogram.highlight_rows(ids);
            };
        }

    });
</script>

<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        {% for e in examples %}
            {% if e.exampleid == example.exampleid %}
                <li class="pure-menu-selected"><a href="{% url use_cases e.exampleid %}">{{ e.title }}</a></li>
            {% else %}
                <li><a href="{% url use_cases e.exampleid %}">{{ e.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<hr/>


<div class="description">
<p>The glucocorticoid receptor (GR) is the nuclear receptor to which cortisol and other glucocorticoids bind. The GR is expressed in almost every cell in the body and regulates genes controlling the development, metabolism, and immune response.</p>

<p>The data set consist of 7 different physico-chemical and structural properties of 372 ligands - agonists of GR downloaded from the <a href="https://www.ebi.ac.uk/chembl/">ChEMBL database</a>. The EC50 (50% Effective concentration) values of ligands are also displayed in a special metadata column. The properties of ligands are: <i>SlogP, SMR, TPSA, Molecular Weight, Rotatable Bonds, H-Bond Donors, H-Bond Acceptors, Aromatic Rings</i>.</p>

<p>The data were normalized to (0,1) scale and then clustered using <i>Euclidean</i> distance and <i>Ward's</i> linkage. Original data (before normalization) are shown in the heatmap.</p>

<div class="small_title">Data set information</div>
<ul>
<li>instances: 372 GR ligands</li>
<li>features: 7 physico-chemical and structural properties</li>
<li>metadata: EC50 values of ligands</li>
</ul>


<div class="small_title">Source: <a href='https://www.ebi.ac.uk/chembl/target/inspect/CHEMBL2034' target=blank>ChEMBL - Glucocorticoid receptor</a></div>

<p>When the cursor is over the heatmap row the structure of the represented ligand is shown next to the heatmap with its ChEMBL ID. After the click on the heatmap row the picture of the ligand is fixed and can be clicked to get to the ligand page on ChEMBL web pages.</p>

</div>


<div id="molecule">
    <a href="" target=blank>
        <img src="" id="molecule_img"></img>
        <div id="mol_id"></div>
    </a>
</div>

<div id="dendrogram"></div>
<hr/>

{% endblock %}