{% extends "inchlib_base.html" %}

{% block content %}

<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        <li><a href="{% url docs %}">InCHlib.js</a></li>
        <li><a href="{% url input_format %}">Input format</a></li>
        <li  class="pure-menu-selected"><a href="{% url inchlib_clust %}">InCHlibClust.py</a></li>
    </ul>
</div>
<hr/>

<div class="description">
  <div class="title">InCHlibClust.py</div>
    <b>Inchlib_clust</b> is a python wrapper for clustering and generation of <b>InCHlib</b> input data format. It can be used from command-line or directly from your python code (see the examples below). The only obligatory input are the data for clustering in a form of csv(text) file or python list of lists. The input data can contain optional header as a first row.
</div>

<div class="interface">
  <div class="small_title">Input data/metadata example (file containing comma-separated values)</div>
    <div class="code">
  id,Sepal length,Sepal width,Petal length,Petal width
  1,5.1,3.5,1.4,0.2
  2,4.9,3,1.4,0.2
  3,4.7,3.2,1.3,0.2
  4,4.6,3.1,1.5,0.2
  5,5,3.6,1.4,0.2
  6,5.4,3.9,1.7,0.4
  7,4.6,3.4,1.4,0.3
  8,5,3.4,1.5,0.2
  9,4.4,2.9,1.4,0.2
  10,4.9,3.1,1.5,0.1
    </div>
</div>


<div class="interface">
    <div class="small_title">Command-line interface</div>
    <div class="code">
    positional arguments:
      <b>data_file             csv(text) data file with delimited values</b>

    optional arguments:
      <b>-h, --help</b>            show this help message and exit
      <b>-o OUTPUT_FILE, --output_file OUTPUT_FILE</b>
                            the name of output file (default: None)
      <b>-d DISTANCE, --distance DISTANCE</b>
                            set the distance to use for clustering (default:
                            euclidean)
      <b>-l LINKAGE, --linkage LINKAGE</b>
                            set the linkage to use for clustering (default: ward)
      <b>-a AXIS, --axis AXIS</b>  define clustering axis (row/both) (default: row)
      <b>-dt DATATYPE, --datatype DATATYPE</b>
                            specify the type of the data (numeric/binary)
                            (default: numeric)
      <b>-dd DATA_DELIMITER, --data_delimiter DATA_DELIMITER</b>
                            delimiter of values in data file (default: ,)
      <b>-m METADATA, --metadata METADATA</b>
                            csv(text) metadata file with delimited values
                            (default: None)
      <b>-md METADATA_DELIMITER, --metadata_delimiter METADATA_DELIMITER</b>
                            delimiter of values in metadata file (default: ,)
      <b>-dh, --data_header</b>    whether the first row of data file is a header
                            (default: False)
      <b>-mh, --metadata_header</b>
                            whether the first row of metadata file is a header
                            (default: False)
      <b>-c COMPRESS, --compress COMPRESS</b>
                            compress the data to contain maximum of specified
                            count of rows (default: 0)
      <b>-dwd, --dont_write_data</b>
                            don't write clustered data to the inchlib data format
                            (default: False)
    </div>
</div>

<div class="interface">
   <div class="small_title">Command-line example</div>
      <div class="highlighted">
    {{ bash|safe }}
      </div>
</div>

<div class="interface">
    <div class="small_title">Programming interface example</div>
    <div class="highlighted">
    {{ code|safe }}
    </div>
</div>


{% endblock %}