{% extends "inchlib_base.html" %}

{% block content %}
{% load staticfiles %}

<script>
    $(document).ready(function(){

        var static_url = "{% static "img/gr_molecules/" %}";
        var chembl_url = "https://www.ebi.ac.uk/chembl/compound/inspect/"
        var target_element = $("#dendrogram");
        var offset = target_element.offset();
        var max_y = offset.top + 150;
        var x_pos = offset.left;
        var mol_element = $("#molecule");
        var img_element = $("#molecule_img");
        var mol_id_element = $("#mol_id");
        var mol_link = $("#molecule a");
        mol_element.css({"left": x_pos + target_element.width()-80});

        var current;

        window.dendrogram = new InCHlib(
            {
                target: "dendrogram",
                metadata: true, 
                dendrogram: true,
                max_height: 900,
                font: "Trebuchet MS",
                heatmap_colors: "Greens",
                metadata_colors: "RdLrBu",
                highlight_colors: "PuOr"
            });

        dendrogram.read_data_from_file("{% static "data/chembl_gr_normalized.json" %}");
        dendrogram.draw();
        bind_dendrogram_events();

        function show_molecule(mol_id, evt){
            var filepath = static_url + mol_id + ".svg";
            var y = evt.pageY-300;
            if(y < max_y){
                y = max_y;
            }
            mol_element.css({"top": y, "border-width": "1px"});
            img_element.attr("src", filepath);
            mol_id_element.text(mol_id);
            mol_link.attr("href", chembl_url+mol_id);
            mol_element.show();

        }

        function hide_molecule(ids, evt){
            mol_element.hide();
        }

        function fix_molecule(){
            dendrogram.settings.row_onmouseover = function(){};
            dendrogram.settings.heatmap_onmouseout = function(){};
        }

        function bind_dendrogram_events(){
            dendrogram.settings.row_onmouseover = function(ids, evt){
                show_molecule(ids, evt);
            };
            dendrogram.settings.heatmap_onmouseout = function(evt){
                hide_molecule(evt);
            };
            dendrogram.settings.row_onclick = function(ids, evt){
                show_molecule(ids[0], evt);
                fix_molecule(ids[0]);
                current = ids[0];
                dendrogram.highlight_rows(ids);
                mol_element.css({"border-width": "2px"});
                dendrogram.unhighlight_cluster();
            };

            dendrogram.settings.dendrogram_node_onclick = function(object_ids){
                var i;
                hide_molecule();
                bind_dendrogram_events();
                
                for(i = 0; i<object_ids.length; i++){
                    if(object_ids[i] == current){
                        return;
                    }
                }
                dendrogram.highlight_rows([]);
            }

            dendrogram.settings.empty_space_onclick = function(){
                hide_molecule();
                dendrogram.highlight_rows([]);
                bind_dendrogram_events();
            }
        }

        $(document).click(function(evt){
            if(evt.target.localName != "img" && evt.target.localName != "canvas"){
                hide_molecule();
                dendrogram.unhighlight_cluster();
                dendrogram.highlight_rows([])
                bind_dendrogram_events();
            }
        });

    });
</script>

<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        {% for e in examples %}
            {% if e.exampleid == example.exampleid %}
                <li class="pure-menu-selected"><a href="{% url use_cases e.exampleid %}">{{ e.title }}</a></li>
            {% else %}
                <li><a href="{% url use_cases e.exampleid %}">{{ e.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<hr/>


<div class="description"><p><b>Glucocorticoid receptor</b> (<i>GR</i>) belongs to a larger family of nuclear receptors. GR cognate ligands are cortisol and other glucocorticoids. GR is a ubiquitously expressed intracellular protein which functions as a ligand-dependent transcription factor and regulates genes controlling the development, metabolism, and immune response.</p>

<p>The displayed data set consists of 7 physico-chemical and structural properties of 372 GR agonists obtained from the <a href="https://www.ebi.ac.uk/chembl/" target="blank">ChEMBL database</a>. The ligand properties are: <i>logarithm of the octanol-water partition coefficient (<i>logP</i>), molar refractivity (<i>SMR</i>), topological polar surface area (<i>TPSA</i>), molecular weight, and the numbers of rotatable bonds, hydrogen-bond donors, hydrogen-bond acceptors and aromatic rings</i>. Each ligand is characterized by its <i>EC50</i> (the concentration which induces 50% of the maximum biological response) displayed in the red metadata column.</p>

<p>The data were normalized to (0,1) scale and clustered using Euclidean distance and Ward's linkage. In the heatmap, raw data (i.e., before normalization) are displayed. The structure visualization was created using cheminformatics programming package <a href="http://www.rdkit.org/" target="blank">RDKit</a>.</p>


<div class="small_title">Data set information</div>
<ul>
<li>instances: 372 GR ligands</li>
<li>features: 7 physico-chemical and structural properties</li>
<li>metadata: EC50 values of ligands</li>
</ul>


<div class="small_title">Source: <a href='https://www.ebi.ac.uk/chembl/target/inspect/CHEMBL2034' target=blank>ChEMBL - Glucocorticoid receptor</a></div>

<p>When cursor hovers over the heatmap, ligand structures are shown. Upon clicking, the heatmap row gets fixed. Ligand’s picture can then be clicked, and corresponding ChEMBL record opens in a new tab.</p>

</div>


<div id="molecule">
    <a href="" target=blank>
        <img src="" id="molecule_img"></img>
        <div id="mol_id"></div>
    </a>
</div>

<div id="dendrogram"></div>
<hr/>

{% endblock %}