{% extends "inchlib_base.html" %}

{% block content %}
{% load staticfiles %}
<script src="{% static "js/highcharts.js" %}"></script>

<script>
$(document).ready(function() {
  $('#performance_rows').highcharts({
            title: {
                text:'Clustering Time X Number of data points (50 features)',
                x: -20 //center
            },
            xAxis: {
                categories: [10, 100, 500, 1000, 2000, 5000, 10000, 20000, 30000],
                title: {
                    text: 'Rows'
                },
            },
            yAxis: {
                title: {
                    text: 'Time (seconds)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: 'seconds'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Time',
                data: [0.002, 0.012, 0.048, 0.117, 0.365, 1.672, 6.123, 30.138, 93.745],
            },]
    });

    $('#performance_features').highcharts({
            title: {
                text: 'Clustering Time X Number of features (1000 rows)',
                x: -20 //center
            },
            xAxis: {
                categories: [10, 100, 200, 500, 1000, 2000, 3000, 4000, 5000, 8000, 10000, 20000],
                title: {
                    text: 'Features'
                },
            },
            yAxis: {
                title: {
                    text: 'Time (seconds)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: 'seconds'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Time',
                data: [0.062, 0.205, 0.355, 0.82, 1.681, 3.542, 5.363, 7.148, 8.93, 14.418, 17.865, 35.681],
            },]
    });

    $('#performance_inchlib').highcharts({
            title: {
                text: 'Rendering Time X Size of the data (20 features)',
                x: -20 //center
            },
            xAxis: {
                categories: [10, 100, 500, 1000, 2000, 5000],
                title: {
                    text: 'Rows'
                },
            },
            yAxis: {
                title: {
                    text: 'Time (seconds)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: 'seconds'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Time',
                data: [0.21, 0.5, 1.94, 5.36, 9.5, 18.1],
            },]
    });
});
</script>

<div class="description">
  <div class="title"></div>
  <p>Following charts demonstrate dependence of clustering speed (<i>inchlib_clust</i>) and rendering (<i>InCHlib</i>) on the data size. The testing data were randomly generated integers in interval from 0 to 1000. The Euclidean distance and Ward’s linkage were used for clustering only by row axis. </p>
  <div class="pc_conf">PC configuration: Kubuntu 13.04 with Chrome 33.0.1750.117 running on Intel Core 2 Duo E6600 2.4GHz, 8GB RAM, classic hard-drive</div>
</div>

<div class="description">
  <div class="small_title">Clustering time vs. the count of data points</div>
  <p>With the increasing number of data points clustering time increases more or less exponentially. This corresponds with the complexity of Ward’s linkage implementation in fastcluster library used for clustering. You should be also aware of the PC memory consumption when clustering larger data sets. For the largest set with 30 000 data points the memory consumption was over 4 GB RAM.</p>
</div>
<div id="performance_rows" class="chart"></div>
<div class="description">
  <div class="small_title">Clustering time vs. the number of features</div>
  <p>The increasing number of data features doesn't affect the clustering duration as much as the increase of the data rows. The reason is that the complexity of the problem (distance matrix) is constant, larger are only the data themselves. Also the consumption of the PC memory is not a problem in that case but only when you cluster by row axis. If you would cluster by both axis the increase of the number of features would also mean the increase of the number of data points.</p>
</div>
<div id="performance_features" class="chart"></div>

<div class="description">
  <div class="small_title">Rendering time vs. the size of the data</div>
  <p>Rendering time depends on the number of data values (100 data points, each described by 100 features, give 10,000 data values). Rendering time is also influenced by the PC configuration and used web browser. For smooth running, we recommend <i>Google Chrome</i>. <i>Mozilla Firefox</i> is, due to the speed of its JavaScript engine, unsuitable for large data sets.</p>
</div>
<div id="performance_inchlib" class="chart"></div>



{% endblock %}