{% extends "inchlib_base.html" %}

{% block content %}

{% load staticfiles %}
<script>
    $(document).ready(function() {
        $("#menu_contact").addClass('pure-menu-selected'); 
    });
</script>
	<!-- <form class="pure-form pure-form-stacked" id="contact_form">
	    <fieldset>
	        <div class="pure-control-group">
	            <label for="name">Name</label>
	            <input id="name" type="text" placeholder="Name">
	        </div>

	        <div class="pure-control-group">
	            <label for="email">Email Address</label>
	            <input id="email" type="email" placeholder="Email Address">
	        </div>

	        <div class="pure-control-group">
	            <label for="foo">Message</label>
	            <input id="message" type="textarea" placeholder="Message...">
	        </div>

	        <div class="pure-controls">
	            <button type="submit" class="pure-button pure-button-primary">Send</button>
	        </div>
	    </fieldset>
	</form>
	<hr/> -->
	<div class="description">
	    <div id="inchlib_citation"><span class="small_title">How to cite: </span>Škuta, C.; Bartůněk, P.; Svozil, D. <b>InCHlib – interactive cluster heatmap for web applications.</b> Journal of Cheminformatics 2014, 6 (44), <a href="http://www.jcheminf.com/content/6/1/44" target="blank">DOI: 10.1186/s13321-014-0044-4.</a></div>
	</div>
	<div id="logos">
		<a href="http://openscreen.cz/en" target=blank><img id="openscreen_logo" src="{% static "img/openscreen.png" %}"></a>
		<a href="http://ich.vscht.cz/" target=blank><img id="lich_logo" src="{% static "img/lich.gif" %}"></a>
	</div>
	
	<div class="contact">

		<div class="card">
			<div class="title">Ctibor Škuta<sup>1,2</sup></div>
			<div class="email">ctibor.skuta@img.cas.cz</div>
		</div>

		<div class="card">
			<div class="title">Daniel Svozil<sup>1,2</sup></div>
			<div class="email">svozild@vscht.cz</div>
		</div>

		<div class="card">
			<div class="title">Petr Bartůněk<sup>2</sup></div>
			<div class="email">petr.bartunek@img.cas.cz</div>
		</div>
	</div>

	<ol id="affiliations">
		<li>Laboratory of Informatics and Chemistry, Faculty of Chemical Technology, Institute of Chemical Technology Prague, Technická 5, CZ-166 28 Prague, Czech Republic</li>
		<li>CZ-OPENSCREEN, Institute of Molecular Genetics of the ASCR, v. v. i., Vídeňská 1083, CZ-142 20 Prague, Czech Republic</li>
	</ol>

	<hr />

{% endblock %}