{% extends "inchlib_base.html" %}

{% block content %}
{% load staticfiles %}
<script>
	var settings = {{ settings }};

	$(document).ready(function(){
		$("#menu_tutorial").addClass('pure-menu-selected'); 
		var settings_string = "{}", i, val;
		var prev_clusters = [], current_json = null, prev_json, prev_cluster;

		if(!($.isEmptyObject(settings))){
			settings_string = "{\n";
			settings_string = settings_string + '  <a href="../docs#target" target=blank>target</a>: "dendrogram",\n';
			
			for(i in settings){
				if(i != "target"){
					val = (typeof(settings[i]) == "string")? '"'+settings[i]+'"': settings[i];
					if(i == "highlighted_rows"){
						val = "[" + val + "]";
					}
					else if(i == "row_onclick"||i=="dendrogram_node_onclick"){
						val = settings[i];
					}
					settings_string = settings_string + "  <a href='../docs#" + i +"' target=blank>" + i + "</a>" + ": " + val + ",\n";
				}
			}
			settings_string = settings_string + "}"
		}
		
		$("#example .settings").html(settings_string);

		window.dendrogram = new InCHlib({{ settings }});
		dendrogram.read_data_from_file("{% static "data/"|add:example.data %}");
		dendrogram.draw();

		dendrogram._unzoom_icon_click = function(){
			dendrogram.events.on_unzoom();
			return false;
		}

		dendrogram.events.on_zoom = function(object_ids, node_id, evt){
			$("#dendrogram").hide();
			$.ajax({
                type: 'GET',
                dataType: "json",
                url: "{% url get_compressed_rows %}",
                data:{row_ids: object_ids, csrfmiddlewaretoken : getCookie('csrftoken'),},
                success: function(json){
                	prev_clusters.push([node_id, $.extend(true, {}, current_json)]);
                	current_json = {};
                	$.extend(true, current_json, json);
                	dendrogram._delete_all_layers();
                    dendrogram.read_data(json);
                    dendrogram.draw();
                    dendrogram.zoomed_clusters["row"] = [dendrogram.root_id];
                    dendrogram._draw_navigation();
                    $("#dendrogram").fadeIn("fast");
                },
            });
		};

		dendrogram.events.on_unzoom = function(){
			$("#dendrogram").hide();
			if(prev_clusters.length > 1){
				prev_cluster = prev_clusters.pop();
				dendrogram._delete_all_layers();
		        dendrogram.read_data(prev_cluster[1]);
	            dendrogram.draw();
	            dendrogram.zoomed_clusters["row"] = [dendrogram.root_id]
	            dendrogram.highlight_cluster(prev_cluster[0]);
	            dendrogram._draw_navigation();
			}
			else{
				var highlight = prev_clusters[0][0];
				dendrogram.events.on_refresh();
				dendrogram.highlight_cluster(highlight);
			}
			$("#dendrogram").fadeIn("fast");
		};

		dendrogram.events.on_refresh = function(){
			dendrogram._delete_all_layers();
			dendrogram.read_data_from_file("{% static "data/"|add:example.data %}");
			dendrogram.draw();
			prev_clusters = [];
		};

		function getCookie(c_name){ // from http://www.w3schools.com/js/js_cookies.asp
		    var c_value = document.cookie;
		    var c_start = c_value.indexOf(" " + c_name + "="); // index of cookie key if it is not first in the cookie string
		    if (c_start == -1){
		        c_start = c_value.indexOf(c_name + "="); // if it is first
		    }
		    if (c_start == -1){
		        c_value = null; // cookie not preent
		    }
		    else{
		        c_start = c_value.indexOf("=", c_start) + 1; // search for index of '=' key/value divider from correct key index
		        var c_end = c_value.indexOf(";", c_start); // search for ';' value terminator
		        if (c_end == -1){
		            c_end = c_value.length; // if it is not present, the cookie is the last one
		        }
		            c_value = unescape(c_value.substring(c_start,c_end)); // unescape value extracted using start / end indices
		    }
		    return c_value;
		}
	});


</script>

<div id="examples_menu" class="pure-menu pure-menu-open">
    <a class="pure-menu-heading"><b>Examples</b></a>
    
    <ul>
        {% for e in examples %}
        	{% if e.exampleid == example.exampleid %}
        		<li class="pure-menu-selected"><a href="{% url examples e.exampleid %}">{{ e.title }}</a></li>
        	{% else %}
        		<li><a href="{% url examples e.exampleid %}">{{ e.title }}</a></li>
        	{% endif %}
        {% endfor %}
    </ul>
</div>

<div id="example">
	<div class="title">{{ example.title }}
		{% if next %}
			<a class="pure-button" href="{% url examples next %}" id="next_example_button">Next example &gt;</a>
		{% endif %}

		{% if previous %}
			<a class="pure-button" href="{% url examples previous %}" id="previous_example_button">&lt; Previous example</a>
		{% endif %}
	</div>

	<div class="description">{% autoescape off %}{{ example.description }}{% endautoescape %}</div>

	<div class="example_settings">
		<div class="small_title">Example settings</div>
		<div class="settings"></div>
	</div>

	<div class="example_settings">
		<div class="small_title">Example data</div>
		<div class="example_data">The activities of several ligands measured at three different concentrations. Data are clustered using <i>Euclidean</i> distance and <i>Ward's</i> linkage. <i>LogP (octanol/water partition coefficent), molecular weight and the number of aromatic rings</i> descriptors are used as metadata. <a href="{% static "data/"|add:example.data %}" id="example_data_link" target=blank><b>Show data >></b></a></div>
	</div>
	

	<div id="around_dendrogram">
		<div id="dendrogram"></div>
	</div>
</div>
<hr />
{% endblock %}