{% extends "inchlib_base.html" %}

{% block content %}
{% load staticfiles %}
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7c-andnzkallTdcWxCY1VvR4sFhrk5kw&sensor=false">
    </script>
<!-- <script src="{% static "js/gmaps.js" %}"></script> -->
<script src="{% static "js/gmaps_markerwithlabel.js" %}"></script>
<script src="{% static "source_data/whiskey2latlong.js" %}"></script>
<script>
    $(document).ready(function(){
        var current;
        var markers = [];
        // var gmap = new GMaps({
        //               div: '#map',
        //               lat: 57.192933,
        //               lng: -4.236722,
        //               zoom: 6
        //             });
        var lat_lng = new google.maps.LatLng(57.192933, -4.236722);
        var gmap = new google.maps.Map(document.getElementById('map'), {
           zoom: 6,
           center: lat_lng,
           mapTypeId: google.maps.MapTypeId.ROADMAP
         });

        window.dendrogram = new InCHlib({{ settings }});
        dendrogram.settings.highlight_colors = "Reds";

        dendrogram.settings.row_onclick = function(ids){
            current = ids[0];
            dendrogram.unhighlight_cluster();
            dendrogram.highlight_rows(ids);
            set_markers(ids);
        };

        dendrogram.settings.dendrogram_node_highlight = function(ids, node_id){
            set_markers(ids);
        };
        dendrogram.settings.dendrogram_node_unhighlight = function(node_id){
            set_markers([]);
        };
        
        dendrogram.settings.dendrogram_node_onclick = function(object_ids){
            var i;

            for(i = 0; i<object_ids.length; i++){
                if(object_ids[i] == current){
                    return;
                }
            }
            dendrogram.highlight_rows([]);
        }

        dendrogram.settings.empty_space_onclick = function(){
            set_markers([]);
            dendrogram.highlight_rows([]);
        };

        dendrogram.read_data_from_file("{% static "data/"|add:example.data %}");
        dendrogram.draw();

        function set_markers(ids){
            var i, marker;
            remove_markers();

            for(i = 0; i<ids.length; i++){
                marker = new MarkerWithLabel({
                   position: new google.maps.LatLng(whiskey2latlong[ids[i]][0], whiskey2latlong[ids[i]][1]),
                   map: gmap,
                   animation: google.maps.Animation.DROP,
                   labelContent: ids[i],
                   labelAnchor: new google.maps.Point(22, 0),
                   labelClass: "distillery_label",
                 }); 

                markers.push(marker);

                // google.maps.event.addListener(marker, 'click', toggleBounce);
            }
        }

        

        function remove_markers() {
          for (var i = 0; i < markers.length; i++ ) {
            markers[i].setMap(null);
          }
          markers.length = 0;
        }

        $(document).click(function(evt){
            if(evt.target.localName != "canvas"){
                set_markers([]);
                dendrogram.highlight_rows([]);
                dendrogram.unhighlight_cluster();
            }
        });

        $("#map").click(function(){
            return false;
        });



});
</script>

<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        {% for e in examples %}
            {% if e.exampleid == example.exampleid %}
                <li class="pure-menu-selected"><a href="{% url use_cases e.exampleid %}">{{ e.title }}</a></li>
            {% else %}
                <li><a href="{% url use_cases e.exampleid %}">{{ e.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<hr/>

<div class="description">
<p>This data consist of scores for 86 single malt scotch whiskies in 12 different taste categories. The categories are scored on the scale between 0-4. The evaluated taste categories are: <i>Body, Sweetness, Smoky, Medicinal, Tobacco, Honey, Spicy, Winey, Nutty, Malty, Fruity, Floral.</i></p>

<p>The data were clustered using <i>Euclidean</i> distance and <i>Ward's</i> linkage.</p>

<div class="small_title">Data set information</div>
<ul>
<li>instances: 86 single malt scotch whiskies</li>
<li>features: scores of 12 taste categories</li>
</ul>


<div class="small_title">Source: <a href='https://www.mathstat.strath.ac.uk/outreach/nessie/nessie_whisky.html' target=blank>Classification of whiskies</a></div>

<!-- <div class="citation">Forina, M. et al, PARVUS - An Extendible Package for Data Exploration, Classification and Correlation. Institute of Pharmaceutical and Food Analysis and Technologies, Via Brigata Salerno, 16147 Genoa, Italy.</div> -->

<p>On click on the heatmap row or the dendrogram node the whisky distilleries are marked in the map according to their latitude and longitude coordinates.</p>
</div>



<div class="overflow">
    <div class="float_right">
        <div id="map"></div>
    </div>
    
    <div id="map_dendrogram"></div>
</div>
<hr/>

{% endblock %}
