{% extends "inchlib_base.html" %}

{% block content %}
{% load staticfiles %}

<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        <li><a href="{% url docs %}">InCHlib</a></li>
        <li><a href="{% url input_format %}">Input format</a></li>
        <li  class="pure-menu-selected"><a href="{% url inchlib_clust %}">inchlib_clust</a></li>
    </ul>
</div>
<hr/>

<div class="description">
  <div class="title">inchlib_clust</div>
    <b>inchlib_clust</b> is a python script that performs data clustering and prepares <a href="{% url input_format %}">input data for InCHlib</a>. <b>inchlib_clust</b> can be used both from command line or from Python code. Data for clustering are supplied to <b>inchlib_clust</b> as a csv file. The first row with attribute headers is optional. If command line option <i>-m</i> is specified, metadata are also supplied in a csv format.

</div>

<div class="interface">
  <div class="small_title">Input data example (file containing comma-separated values)</div>
    <div class="code"> id,feature 1,feature 2,feature 3,feature 4
 1,5.1,3.5,1.4,0.2
 2,4.9,3,1.4,0.2
 3,4.7,3.2,1.3,0.2
 4,4.6,3.1,1.5,0.2
 5,5,3.6,1.4,0.2</div>
</div>

<div class="interface">
  <div class="small_title">Metadata example (file containing comma-separated values)</div>
    <div class="code"> id,class
 1,class 1
 2,class 1
 3,class 2
 4,class 2
 5,class 3</div>
</div>

<div class="description">In the example below <b>inchlib_clust</b> is invoked from the command line. Input data for clustering are given in <a href="{% static "data/input_file.csv" %}">input_file.csv</a> which contains attribute names in the first row (<i>-dh</i> parameter), individual values are separated by a comma (<i>-dd ,</i> parameter). Metadata are supplied (<i>-m</i> parameter) in <a href="{% static "data/metadata.csv" %}">metadata.csv</a> file. It also contains medatadata names (<i>-mh</i> parameter), individual values are separated by a comma (<i>-md ,</i> parameter). Both rows and columns are clustered (<i>-a both</i> parameter) using <i>Ward’s</i> clustering (<i>-l ward</i> parameter) with <i>Euclidean</i> distance (<i>-d euclidean</i> parameter).
</div>

<div class="interface">
   <div class="small_title">Command-line example</div>
      <div class="highlighted">
    {{ bash|safe }}
      </div>
</div>

<div class="description">The whole list of paramaters is given below.</div>

<div class="interface">
    <div class="small_title">Command-line parameters</div>
    <div class="code">
    positional arguments:
      <b>data_file             csv(text) data file with delimited values</b>

    optional arguments:
      <b>-h, --help</b>            show this help message and exit
      <b>-o OUTPUT_FILE, --output_file OUTPUT_FILE</b>
                            the name of output file (<i>default:</i> None)
      <b>-rd ROW_DISTANCE, --row_distance ROW_DISTANCE</b>
                            set the distance to use for clustering rows(<i>default:</i> euclidean)
                            
                            <b>possible values</b>: dice, hamming, jaccard, 
                            kulsinski, matching, rogerstanimoto, 
                            russellrao, sokalmichener, sokalsneath, 
                            yule, braycurtis, canberra, chebyshev, 
                            cityblock, correlation, cosine, euclidean, 
                            mahalanobis, minkowski, seuclidean, sqeuclidean

      <b>-rl ROW_LINKAGE, --row_linkage ROW_LINKAGE</b>
                            set the linkage to use for clustering rows (<i>default:</i> ward)

                             <b>possible values</b>: single, complete, 
                             average, weighted, centroid, median, ward

      <b>-cd COLUMN_DISTANCE, --column_distance COLUMN_DISTANCE</b>
                            set the distance to use for clustering columns(<i>default:</i> euclidean)
                            
                            <b>possible values</b>: dice, hamming, jaccard, 
                            kulsinski, matching, rogerstanimoto, 
                            russellrao, sokalmichener, sokalsneath, 
                            yule, braycurtis, canberra, chebyshev, 
                            cityblock, correlation, cosine, euclidean, 
                            mahalanobis, minkowski, seuclidean, sqeuclidean

      <b>-cl COLUMN_LINKAGE, --column_linkage COLUMN_LINKAGE</b>
                            set the linkage to use for clustering columns (<i>default:</i> ward)

                             <b>possible values</b>: single, complete, 
                             average, weighted, centroid, median, ward

      <b>-a AXIS, --axis AXIS</b>  define clustering axis (row/both) (<i>default:</i> row)
      <b>-dt DATATYPE, --datatype DATATYPE</b>
                            specify the type of the data (numeric/binary)
                            (<i>default:</i> numeric)
      <b>-dd DATA_DELIMITER, --data_delimiter DATA_DELIMITER</b>
                            delimiter of values in data file (<i>default:</i> ,)
      <b>-m METADATA, --metadata METADATA</b>
                            csv(text) metadata file with delimited values
                            (<i>default:</i> None)
      <b>-md METADATA_DELIMITER, --metadata_delimiter METADATA_DELIMITER</b>
                            delimiter of values in metadata file (<i>default:</i> ,)
      <b>-dh, --data_header</b>    whether the first row of data file is a header
                            (<i>default:</i> False)
      <b>-mh, --metadata_header</b>
                            whether the first row of metadata file is a header
                            (<i>default:</i> False)
      <b>-c COMPRESS, --compress COMPRESS</b>
                            compress the data to contain maximum of specified
                            count of rows
      <b>-cv COMPRESSED_VALUE, --compressed_value COMPRESSED_VALUE</b>
                            the resulted value of merged rows (data points) (<i>default:</i> median)
                            
                            <b>possible values</b>: median, mean
      <b>-mcv METADATA_COMPRESSED_VALUE, --metadata_compressed_value METADATA_COMPRESSED_VALUE</b>
                            the resulted value from merged rows when the data are compressed (<i>default:</i> median)
                            
                            <b>possible values</b>: median, mean, frequency

      <b>-dwd, --dont_write_data</b>
                            don't write clustered data to the inchlib data format
                            (<i>default:</i> False)
      <b>-n, --normalize</b>
                            normalize data to (0,1) scale
      <b>-wo, --write_original</b>
                            only when normalize is set to True
                            cluster normalized data, but write original data to the heatmap
    </div>
</div>

<hr />

<div class="description"><b>inchlib_clust</b> can also be invoked programatically from your Python code. Its API is <a href="{% url inchlib_clust_doc %}" target=blank>fully documented</a>. There are two main classes in inchlib_clust: <i>Cluster</i> and <i>Dendrogram</i>. <i>Cluster</i> reads in and clusters the data. The <i>Dendrogram</i> object takes the <i>Cluster</i> instance as an input, and generates the cluster heatmap in the InCHlib <a href="{% url input_format%}">input format</a>. The example use is given below.
</div>

<div class="interface">
    <div class="small_title">Programming interface example</div>
    <div class="highlighted">
    {{ code|safe }}
    </div>
</div>


{% endblock %}