{% load staticfiles %}
<html>
    <head>
        <script src="{% static "js/jquery-2.0.3.min.js" %}"></script>
        <script src="{% static "js/kinetic-v5.1.0.min.js" %}"></script>
        <script src="{% static "js/inchlib-1.1.0.js" %}"></script>
        <script>
        $(document).ready(function() {
            var inchlib = new InCHlib({
                target: "inchlib",
                metadata: true, 
                column_metadata: true,
                max_height: 1200,
                width: 1000,
                heatmap_colors: "Greens",
                metadata_colors: "Reds",
            });

            inchlib.read_data_from_file("{% static "data/example.json" %}");
            inchlib.draw();
        });
        </script>
    </head>

    <body>
        <div id="inchlib"></div>
    </body>
 </html>