{% extends "inchlib_base.html" %}

{% block content %}
{% load staticfiles %}
<script src="{% static "js/highcharts.js" %}"></script>

<script>
    $(document).ready(function(){

        window.boxplot = new Highcharts.Chart({

            chart: {
                renderTo: "boxplot",
                type: 'boxplot',
                height: 300
            },
            
            title: {
                text: null
            },
            
            legend: {
                enabled: false
            },
            exporting:{
                enabled: false,
            },
            xAxis: {
                categories: ["normal", "tumour"],
                title: {
                    text: 'Class'
                }
            },
            
            yAxis: {
                title: {
                    text: 'Average Signal'
                },
            },

            plotOptions: {
                boxplot: {
                    color: "#000000",
                    fillColor: '#F0F0E0',
                    lineWidth: 2,
                    medianColor: '#0C5DA5',
                    medianWidth: 3,
                    stemColor: '#A63400',
                    stemDashStyle: 'dot',
                    stemWidth: 1,
                    whiskerColor: '#3D9200',
                    whiskerLength: '20%',
                    whiskerWidth: 3 
                }
            },
        
            series: [{
                name: 'Average Signal',
                data: [
                ],
            }, 
            ]
            
        });

        var target_element = $("#microarrays_dendrogram");
        var offset = target_element.offset();
        var min_y = offset.top + 100;
        var x_pos = offset.left;
        var microarrays_element = $("#microarrays");
        var current = null;
        microarrays_element.css({"left": x_pos + target_element.width()-50, "top": min_y, "z-index": 100});

        window.dendrogram = new InCHlib(
            {
                target: "microarrays_dendrogram",
                dendrogram: true,
                max_height: 1500,
                heatmap_colors: "RdBkGr",
                column_dendrogram: true,
                header_as_heatmap_row: true,
                header_row_colors: "PiYG2",
                highlight_colors: "RdLrBu",
            });

        dendrogram.events.row_onclick = function(object_ids, evt){
            console.log(object_ids)
            current = object_ids[0];
            draw_boxplot(object_ids, evt.pageY);
            dendrogram.highlight_rows(object_ids);
            dendrogram.unhighlight_cluster();
        };

        dendrogram.events.dendrogram_node_onclick = function(object_ids, node_id, evt){
            draw_boxplot(object_ids, evt.pageY);
            var i;

            for(i = 0; i<object_ids.length; i++){
                if(object_ids[i] == current){
                    return;
                }
            }

            dendrogram.highlight_rows([]);
        };

        dendrogram.events.on_zoom = function(node_id){
            microarrays_element.css({"top": min_y});
        };

        dendrogram.events.empty_space_onclick = function(){
            dendrogram.highlight_rows([]);
            microarrays_element.hide();
        }

        dendrogram.read_data_from_file("{% static "data/microarrays.json" %}");
        dendrogram.draw();

        draw_boxplot(["ILMN_1737074"], min_y);
        dendrogram.highlight_rows(["ILMN_1737074"]);

        function draw_boxplot(object_ids, y){
            microarrays_element.hide();
            var class2values = {"tumour":[], "normal":[]};
            var max_y = min_y + target_element.height() - dendrogram.footer_height;
            var i, j, values, row_id, done_rows = {};
            var header = dendrogram.data.header;
            var boxplot_height = 400;
            
            y = (y + boxplot_height > max_y)?max_y - boxplot_height:y-100;
            y = (y < min_y)?min_y: y;

            microarrays_element.css({"top": y});

            for(i=0; i<object_ids.length; i++){
                row_id = dendrogram.objects2leaves[object_ids[i]];
                
                if(!(row_id in done_rows)){
                    values = dendrogram.data.nodes[row_id].features;
                    done_rows[row_id] = "";
                    for(j = 0; j<header.length; j++){
                        class2values[header[j]].push(values[j]);
                    }
                }
            }

            while(boxplot.series.length > 0){
                boxplot.series[0].remove(true);
            }

            var normal = get_boxplot_parameters(class2values.normal)
            var tumour = get_boxplot_parameters(class2values.tumour)

            boxplot.addSeries({data:[normal, tumour], name: "Average Signal"}, true);
            microarrays_element.show();
        }

        function get_boxplot_parameters(array){
            var min, max, median, lower_q, upper_q;
            array.sort(function(a,b){return a - b;});
            var array_length = array.length;
            min = array[0];
            max = array[array_length-1];
            var median_index = dendrogram._hack_round(array_length/2);
            var quarter = dendrogram._hack_round(array_length/4);
            median = array[median_index];
            lower_q = array[median_index-quarter];
            upper_q = array[median_index+quarter];
            var parameters = [min, lower_q, median, upper_q, max]
            return parameters;
        }

        $(document).click(function(evt){
            if(evt.target.localName != "canvas" && evt.target.localName != "a"){
                microarrays_element.hide();
                dendrogram.unhighlight_cluster();
                dendrogram.highlight_rows([])
            }
        });

});
</script>

<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        {% for e in examples %}
            {% if e.exampleid == example.exampleid %}
                <li class="pure-menu-selected"><a href="{% url use_cases e.exampleid %}">{{ e.title }}</a></li>
            {% else %}
                <li><a href="{% url use_cases e.exampleid %}">{{ e.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<hr/>


<div class="description">
<p>DNA microarrays enable to simultaneously measure the expression level of large  number of genes. Differences in gene expression help, for example, to investigate unique features present in healthy and cancer cells.</p>

<p>The displayed data set consists of the expression levels of 48,803 genes measured for 52 tumour and normal samples.</p>

<p>The data were clustered using <i>Euclidean</i> distance and <i>complete</i> linkage. After clustering, the data were compressed from original 48,803 to 500 data points characterized by the medians of original values. The boxplot was created using <a href="http://www.highcharts.com/" target=blank>Highcharts JS library</a>.</p>

<div class="small_title">Data set information</div>
<ul>
<li>instances: 500 genes (compressed from original 48,803 genes)</li>
<li>features: 52 samples of carcinoma (26) and normal (26) tissues</li>
</ul>


<div class="small_title">Source: <a href='https://www.ebi.ac.uk/arrayexpress/experiments/E-MTAB-1065/' target=blank>ArrayExpress - E-MTAB-1065 - Transcription profiling by array of clinical samples of carcinoma tissues compared to paired normal mucosae.</a></div>

<div class="citation"><a href="http://dx.doi.org/10.1111/boc.201200018" target="blank">Upregulation of IL-6, IL-8 and CXCL-1 production in dermal fibroblasts by normal/malignant epithelial cells in vitro: Immunohistochemical and transcriptomic analyses.</a> Kolář M, Szabo P, Dvořánková B, Lacina L, Gabius HJ, Strnad H, Sáchová J, Vlček C, Plzák J, Chovanec M, Cada Z, Betka J, Fík Z, Pačes J, Kovářová H, Motlík J, Jarkovská K, Smetana K Jr . Biology of the Cell 104(12):738-751 (2012), <a href="http://europepmc.org/abstract/MED/23043537" target="blank">Europe PMC 23043537</a></div>

<p>When the heatmap row is clicked, a boxplot showing expression level distribution in tumour and normal classes is displayed. When the cluster is selected, the boxplot displays value distribution over all genes present in the cluster.</p>

</div>


<div id="microarrays">
        <div id="boxplot"></div>
</div>

<div id="microarrays_dendrogram"></div>
<hr/>

{% endblock %}