@font-face
{
	font-family: Ubuntu;
	src: url('../fonts/Ubuntu-R.ttf');
}

body{
	width: 90%;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Ubuntu', sans-serif;
}

.description a{
	font-style: italic;
}

.chart{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 40px;
}

#content{
	min-height: 600px;
}

#footer{
	height: 25px;
}

#main_title{
	margin-top: 20px;
	margin-left: 20px;
	font-size: 48px;
	font-weight: bold;
}
#sub_title{
	margin-top: 5px;
	margin-left: 20px;
	font-size: 16px;
	padding-bottom: 10px;
	color: gray;
}

#workflow{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.contact{
	margin-top: 50px;
	margin-left: 60px;
}

.card{
	margin-top: 30px;
	margin-left: 20px;
}

.email{
	color: gray;
	font-style: italic;
	font-size: 16px;
}

#example #dendrogram, #content > #dendrogram{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.desc, .description{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	text-align: justify;
	line-height: 1.5;
}

#examples_menu, #docs_menu{
	/*margin-top: 20px;*/
	width: 25%;
	float: left;
}

#example, #docs{
	display: block;
	width: 72%;
	margin-top: 20px;
	margin-left: 28%;
}

.input_example{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.input_example .title{
	font-size: 18px;
	font-weight: bold;
}

.doc{
	margin-top: 30px;
}

.doc #colors_table{
	width: 90%;
	margin-left: 20px;
	margin-top: 15px;
	margin-bottom: 20px;
}

.title{
	font-size: 24px;
	font-weight: bold;
	margin-top: 20px;
}

.description .title{
	margin-bottom: 15px;
}

.small_title{
	font-size: 16px;
	font-weight: bold;
}

.medium_title{
	font-size: 22px;
	font-weight: bold;
}

.subtitle{
	font-style: italic;
	color: gray;
	font-size: 14px;
	font-weight: bold;
}

.doc .default{
	margin-top: 15px;
	margin-left: 10px;
}

.description, .input_example{
	margin-top: 20px;
	text-align: justify;
	line-height: 1.5;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

#example .description a{
	font-style: italic;
}

#example_data_link{
	color: gray;
}

#example .example_settings, #example{
	margin-top: 20px;
}

#example .settings, #example .data, .doc .default_value, #row_ids_callback, .input_example .data, .code{
	margin-top: 10px;
	background-color: #E6E6E6;
	padding: 10px;
	border-radius: 5px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	font-family: Consolas, monospace;
	font-size: 14px;
	white-space:pre;
	/*font-weight: bold;*/
}

.code{
	margin-bottom: 20px;
}

.example_data{
	margin-top: 10px;
	background-color: #E6E6E6;
	padding: 10px;
	border-radius: 5px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	font-family: Consolas, monospace;
	font-size: 14px;
	/*font-weight: bold;*/
}

.js_comment{
	white-space: normal;
}

.citation{
	font-size: small;
	color: gray;
	font-style: italic;
	margin-top: 5px;
}

#row_ids_callback{
	white-space: pre-line;
	word-break: break-all;
}

#example .buttons{
	margin-top: 10px;
	font-family: "Inconsolata";
	font-size: 14px;
}

#example .data{
	white-space:pre;
	height: 200px;
	overflow: auto;
}

#next_example_button, #previous_example_button{
	float: right;
	font-size: 14px;
}

#previous_example_button{
	margin-right: 15px;
}

.format_desc{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.input_example .data a, .format_desc a{
	color: black;
	font-weight: bold;
}

.input_example #dendrogram{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-top : 30px;
}

.input_example .example_data{
	font-weight: bold;
}

#inchlib_described{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 400px;
}

.input_example #data{
	background-color: rgba(35,139,69,0.7);
}

.input_example #metadata{
	background-color: rgba(203,24,29,0.7);
}

.input_example #column_dendrogram{
	background-color: rgba(45,74,243,0.6);
}

.js_comment{
	color: rgb(56,56,56);
}

.interface{
	margin-top: 20px;
	line-height: 120%;
}

.interface .small_title{
	margin-left: 20px;
}

.download_button{
	padding: 20px;
	/*margin-top: 20px;*/
	margin-bottom: 20px;
}

.download_button a{
	color: black;
	font-weight: bold;
	text-decoration: none;
	font-size: 24px;
}

.pc_conf{
	color: gray;
	font-size: 14px;
}

#protein_dendrogram{
	width: 70%;
	margin-top: 50px;
	margin-left: 30px;
}

#protein_div{
	position: absolute;
	width: 300px;
}

#protein{
	width: 95%;
	height: 300px;
	/*border-radius: 5px;
	border: solid #D2D2D2 1px;*/
}

#protein_card{
	width: 95%;
	margin-top: 40px;
	font-size: small;
	margin-bottom: 50px;
}

#protein_citation{
	padding-top: 10px;
	font-size: 14px;
	color: gray;
}


#protein, #protein_card{
	margin-left: auto;
	margin-right: auto;
}

#protein_src{
	display: none;
}

#protein_img{
	background-image: url(../img/protein.png);
	background-repeat: no-repeat;
    height: 300px;
    text-align: center;
    padding-top: 40px;
    font-weight: bold;  
    line-height: 1.5  
}

#protein_img > div{
	margin-top: 20px;
}

#overflow_div{
	height: 50px;
}

#loading, #loading_2{
	display: none;
}

#loading > img, #loading_2 > img{
	height: 200px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}


#map_dendrogram{
	width: 55%;
	margin-top: 50px;
	margin-left: 30px;
}

.float_right{
	float: right;
	width: 40%;
}

#map{
	margin-top: 150px;
	height: 650px;
	border-radius: 10px;
	border: solid #D2D2D2 1px;
}

#video{
	margin-top: 30px;
	width: ;
}

.overflow{
	overflow: auto;
}

#molecule{
	position: absolute;
	 height: 300px;
	 width: 250px;
	 z-index: 100;
	 border: solid #D2D2D2 1px;
	 border-radius: 10px;
	 display: none;
}

#molecule_img{
	height: 270px;
	width: 250px;
	background-color: white;
	border-radius: 10px;
}

#mol_id{
	font-size: small;
	position: absolute;
	right: 10px;
}

#microarrays_dendrogram{
	width: 65%;
	margin-top: 50px;
	margin-left: 30px;
}

#microarrays{
	position: absolute;
	width: 400px;
	height: 300px;
}

#boxplot{
	width: 90%;
	border: solid #D2D2D2 1px;
	padding: 10px;
	background-color: white;
}

.distillery_label{
	font-weight: bold;
	font-size: 12px;
	border-radius: 5px;
	padding: 5px;
	background-color: salmon;
	opacity: 1;
}

#affiliations{
	margin-top: 50px;
	margin-left: 30px;
	margin-bottom: 50px;
}

#affiliations > li{
	margin-top: 10px;
	color: gray;
	font-style: italic;
	font-weight: bold;
}

sup{
	font-size: small;
	position: relative;
	top: -1em;
	color: gray;
}

#openscreen_logo{
	float: right;
	margin-right: 50px;
}

#openscreen_logo:hover{
	cursor: pointer;
	opacity: 0.7;
};